/* Asterix wildcard selector to override default styles added by the browser */
body {
    /* background: blue; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #131516;
    /* avoid completly black to make easier for the eyes */
    /* Font from Google fonts using link (placed in index.html header) */
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;  /* */
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 100;   /* */
}

#container {
    width: 59px;
    height: 45px;
    margin: auto;
    text-align: center;
}

.drawing-area {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawing {
    width: 320px;
    height: 569px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.input-output-area {
    background-color: lightgrey;
    padding-left: 30px;
    padding-top: 10px;
}

.form-columns  {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    margin: 5%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 10px;
}

.parameter-head {
    text-align: center;
}

.parameter-sub {
    padding-left: 0;
    display: block;
    white-space: nowrap;
}

input[type=number] {
    width: 50px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #ffaa00;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px
}

/* Tooltip for "Help" adapted from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_top */
.tooltip-help {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-help .tooltiptext-help {
    visibility: hidden;
    width: 411px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /* Position the tooltip */
    top: 100%;
    left: 130%;
    margin-left: -60px;
}

.tooltip-help .tooltiptext-help::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-help:hover .tooltiptext-help {
    visibility: visible;
}

#nomenclature-size {
    width: 400px;
}


/* Tooltips for "Help" - END */

/* Tooltip for "Input/output parameters" from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_top */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}
/* Tooltips for "Input/output parameters" - END */

/* dark light mode - START */
.dark-mode {
    width: 59px;
    height: 45px;
    background-image: url("../images/light-mode-button-stack.png");
}

.light-mode {
    width: 59px;
    height: 45px;
    background-image: url("../images/dark-mode-button-stack.png");
}
/* dark light mode - END */


/* MEDIA QUERYS */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .drawing-area {
        /* display: flex; */
        flex: 1;
        align-items: stretch;
        display: inline-block;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .input-output-area {
        width: 576px;
        display: inline-block;
    }

    .parameterSub {
        display: inline;
        white-space: nowrap;
    }

    .tooltip-help .tooltiptext-help {
        width: 511px;
    }

    #nomenclature-size {
        width: 500px;
    }
}