/* Asterix wildcard selector to override default styles added by the browser */
body {
    background: blue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #131516;
    /* avoid completly black to make easier for the eyes */
    /* Font from Google fonts using link (placed in index.html header) */
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth"100;
}


.drawing-area {
    background-color: white;
}

.input-output-area {
    background-color: lightgrey;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #ffaa00;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px
}

myPlot-Overide {
    color-line: black;
}